/*------------------------------------- Start The Default Theme ------------------------------*/
.hesham_nav,
.navbar-nav .dropdown-menu,
.option_box .check_icon
{
    background-color: #19af78
}
.about h1 .fa-address-card,
.about h1 span,
.features h2,
.features .feat h4,
.features .feat i,
.testimonials span,
.footer .copyright span
{
    color: #19af78
}
.testimonials .carousel-indicators li.active {
    border: 2px solid #19af78
}
.footer {
    background-color: #3a4754;
    color: #FFF;
}
.footer h3,
.footer .f_article,
.footer h5 {
    color: #19af78
}
.footer .social_list li {
    color: #FFF
}
.footer .img-thumbnail {
    border: 2px solid #19af78
}
.option_box .color_option {
    border: 4px solid #19af78
}
/*------------------------------- Leave This : ----------------------------*/
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active
{
    background-color: #2F4257
}